    <nav class="nav__bar">
        <ul>
            <li>
                <a class="nav__bar--link" href="{{ path ('home') }}">Accueil</a>
            </li>
            <li>
                <a class="nav__bar--link" href="{{ path ('who_iam') }}">Qui suis-je</a>
            </li>
            <li>
                <a class="nav__bar--link" href="{{ path ('naturopathy') }}">La naturopathie</a>
            </li>
            <li>
                {% include 'category/_categoriesWidegtsItems.html.twig' %}
            </li>
            <li>
                <a class="nav__bar--link" href="#">Contact</a>
            </li>
        </ul>
    </nav>