<nav class="nav__bar">
    <ul>
        <li>
            <a href="#">Accueil</a>
        </li>
        <li>
            <a href="#">Qui suis-je</a>
        </li>
        <li>
            <a href="#">La naturopathie</a>
        </li>
        <li>
            <a href="#">Le cabinet</a>
        </li>
        <li>
            <a href="#">Blog</a>
        </li>
        <li>
            <a href="#">Contact</a>
        </li>
    </ul>
</nav>