{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}
    <section class="form" id="login">
        <h1 class="titleH1">Se connecter</h1>
        <form method="post" class="form__content">
            {% if error %}
                <div class="alerte__message">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
            {% endif %}

            {% if app.user %}
                {{ path('home') }}
            {% endif %}

            <div class="form__content--input">
                <input type="email" value="{{ last_username }}" name="email" id="inputEmail" autocomplete="email" placeholder="votre@email.com" required autofocus>
                <input type="password" name="password" id="inputPassword" autocomplete="current-password" placeholder="Mot de passe" required>
             </div>

            <input type="hidden" name="_csrf_token"
                   value="{{ csrf_token('authenticate') }}"
            >


{#                Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.#}
{#                See https://symfony.com/doc/current/security/remember_me.html#}

                <div class="form__content--checkboxes">
                    <label>
                        <input type="checkbox" name="_remember_me"> Remember me
                    </label>
                </div>


            <button class="btn_primary" type="submit">
                connexion
            </button>
        </form>
    </section>
{% endblock %}
