<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <meta name="description" content="Nicolas Guidoux Naturopathe, Iridologue à Ambarès-et-Lagrave près de Bordeaux. Consultations par visio-conférence ou en cabinet, vous pouvez prendre RDV en ligne ou par téléphone."/>
    <meta property="og:title" content= />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="http://127.0.0.1:8000/" />
    <meta property="og:image" content="{{ asset ('build/assets/images/nicolas-guidoux-naturopathe-iridologue-logo.png') }}" />
    <meta property="og:site_name" content="Nicolas Guidoux | Naturopathe - Iridologue" />
    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}
</head>
<body>
    <header>
        {% include 'header/_headerTop.html.twig' %}

        {% include 'header/_navBar.html.twig' %}

    </header>
    <main>
        {% block body %}
        {% endblock %}
    </main>
    <footer>
        {% include 'footer/_footerLogos.html.twig' %}
        {% include 'footer/_footer.html.twig' %}
    </footer>
    {% block javascripts %}
        {{ encore_entry_script_tags('app') }}
    {% endblock %}
</body>
</html>
